{{!< default}}
<div class="container">
    <div class="jumbotron"><img src="/images/logo.png" width="86">
        <hr>
        <p>添加广告</p>
        <hr>

    {{#ifeq action "success"}}
            <p>添加成功！</p>
            <p><a href="/createAd?action=open" style="margin-right: 10px" class="btn btn-lg btn-primary">返回</a></p>
    {{else}}
    {{#ifeq action "fail"}}
            <p>添加失败！</p>
            <p>请勿重复添加。</p>
            <p><a href="/createAd?action=open" style="margin-right: 10px" class="btn btn-lg btn-primary">返回</a></p>
    {{else}}
        <form class="form-horizontal" method="get" id="createAd">
            <input type="hidden" name="action" value="create" />
            <p>所属广告主: 
                <select form="createAd" required="required" name="aderId">
            {{#aders}}
                    <option value ="{{_id}}">{{name}}</option>
            {{/aders}}
                </select>
            </p>
            <p>计划吸粉: <input type="text" required="required" pattern="[0-9]+" name="count" /></p>
            <button type="submit" style="margin-right: 10px" class="btn btn-lg btn-primary">确认添加</button>
        </form>


    {{/ifeq}}
    {{/ifeq}}
    </div>
</div>
